<!DOCTYPE html>
<html lang="en">
<div th:replace="~{user/header :: header}"></div>
<body>
<div th:replace="~{user/header :: navbar}"></div>
<div class="progress" role="progressbar" aria-label="Example 1px high" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="height: 1px">
  <div class="progress-bar" style="width: 50%"></div>
</div>
<!--<div class="progress" role="progressbar" aria-label="Example 20px high" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="height: 20px">-->
<!--  <div class="progress-bar" style="width: 50%"></div>-->
<!--</div>-->
<div class="container pt-3">
  <div class="container pt-3">
  <h1 class="text-center">
    Auswahl Übersicht
  </h1>
  <p class="lead text-center">
    Wählen Sie einen Raum aus
  </p>
    <div th:replace="~{user/breadcrumb :: breadcrumbSelection}"></div>
  <div id="links" th:if="${rooms}">
    <table class="table">
      <thead>
      <tr>
        <th>#</th>
        <th>Raumnummer</th>
        <th>Raumname</th>
        <th> Anzahl d. Arbeitsplätze</th>
        <th>Auswählen</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="room, roomStat : ${rooms}">
        <td th:text="${roomStat.count}">1</td>
        <td>
          <span th:text="${room.id}"></span>
        </td>
        <td>
          <span th:text="${room.roomName}"></span>
        </td>
        <td>
          <span th:text="${room.workPlaces.size()}"></span>
          <!--          <span th:each="equipment : ${workplace.equipments}" th:text="${equipment.displayName + ', '}"></span>        </td>-->
        </td>
        <td>
          <form  th:action="@{/booking/search/overview/room/workplace}">
            <input type="hidden" th:name="roomID" th:value="${room.id}"/>
            <input class="btn btn-dark" type="submit" value="Auswählen">
          </form>
        </td>
      </tr>
      </tbody>
    </table>
    <form th:action="@{/booking/search}">
      <button type="submit" class="btn btn-secondary">Zurück</button>
    </form>
  </div>
</div>
</div>
</body>
</html>