<!DOCTYPE html>
<html lang="en">
<div th:replace="~{user/header :: header}"></div>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light" th:fragment="navbar">
    <a class="navbar-brand" style="padding-left: 25px" href="/">RoomMate</a>
    <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
    >
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/login}">Anmelden</a>
            </li>
        </ul>
    </div>
</nav>
<br /><br /><br />
<div class="container">
    <div class="row col-md-6 offset-md-3">
        <div th:if="${param.logout}">
            <div class="alert alert-success">Du wurdest abgemeldet.</div>
        </div>
<!--        <div th:if="${param.error}">-->
<!--            <div class="alert alert-danger">Falscher Benutzername oder Passwort.</div>-->
<!--        </div>-->
        <div class="card">
            <div class="card-header">
                <h3 class="text-center">Willkommen in RoomMate</h3>
            </div>
            <div class="card-body text-center">
                <div th:unless="${user}">
                    <a href="/oauth2/authorization/github" class="btn btn-dark btn-block">
                        GitHub
                    </a>
                    <a href="/oauth2/authorization/google" class="btn btn-danger btn-block">
                        Google
                    </a>
                    <div class="row m-2"></div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
