<!DOCTYPE html>
<html lang="en">
<div th:replace="~{user/header :: header}"></div>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light" th:fragment="navbar">
    <a class="navbar-brand" style="padding-left: 25px" href="/">RoomMate</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/login}">Anmelden</a>
            </li>
        </ul>
    </div>

</nav>
<br><br><br>
<div class="container">
    <div class="row col-md-6 offset-md-3">
        <div th:if="${param.logout}">
            <div class="alert alert-success">Du wurdest abgemeldet.</div>
        </div>
        <div th:if="${param.error}">
            <div class="alert alert-danger">Falscher Benutzername oder Passwort.</div>
        </div>
        <div class="card">
            <div class="card-header">
                <h3 class="text-center">Anmelden</h3>
            </div>
            <div class="card-body">
                <form
                        method="post"
                        th:action="@{/login}"
                        class="form-horizontal"
                        role="form"
                >
                    <div class="form-group mb-3">
                        <label class="control-label">Benutzername*</label>
                        <input
                                type="text"
                                id="username"
                                name="username"
                                class="form-control"
                                placeholder="Benutzername eingeben"
                        >
                    </div>
                    <div class="form-group mb-3">
                        <label class="control-label">Passwort*</label>
                        <input
                                type="password"
                                id="password"
                                name="password"
                                class="form-control"
                                placeholder="Passwort eingeben"
                        >
                    </div>
                    <div class="form-group mb-3">
                        <button type="submit" class="btn btn-primary">Anmelden</button>
                        <span>Noch kein Account?</span>
<!--                        <a th:href="@{/register}">Hier registrieren</a>-->
                    </div>

                </form>
                <div th:unless="${user}">
                    <a href="/oauth2/authorization/github">Anmelden mit GitHub</a>
                    <div class="row m-3">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


</body>

</html>